<world name="schunk_with_desktop">

<!-- Include the models by including either the complete urdf or referencing the file name -->
<include filename="SchunkArmHand.urdf" model_name="schunk_arm"/>
<include filename="table2b.urdf" model_name="table2b"/>
<include filename="bolt.urdf" model_name="bolt"/>
<include filename="block.urdf" model_name="block"/>
<include filename="driver.urdf" model_name="driver"/>

<!-- Construct the world -->
<entity model="schunk_arm" name="SchunkArm">
	<origin xyz="-0.132 1.316 0.721" rpy="-1.57 1.57 0"/>
</entity>


<entity model="table2b">
	<origin xyz="-1.14 0.789 0" rpy="1.57 0 0"/>
</entity>

<entity model="bolt">
	<origin xyz="-.58 1.33 .81" rpy="0 0 0"/>
</entity>

<entity model="block">
	<origin xyz="0 0.91 1.11" rpy="-1.57 0 0"/>
</entity>

<entity model="driver">
	<origin xyz="-.71 1.33 .87" rpy="-1.57 0 0"/>
</entity>

</world>
